<!DOCTYPE html>
<html lang="tr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Teknikhane Derneği">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Sosyal Aktiviteler</title>

  <!-- Bootstrap core CSS -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../../css/fontawesome.css">
  <link rel="stylesheet" href="../../css/teknikhane.css">
  <link rel="stylesheet" href="../../css/owl.css">
  <link rel="stylesheet" href="../../css/lightbox.css">
  <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>



  <!-- Sub Header -->
  <div class="sub-header border-bottom" style="height:70px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content" id="science" style="margin: 25px;">
            <p><em>Bilim</em> Teknik<em> İlim</em> ve İrfan</p>
          </div>
        </div>
        <div class="col-lg-4 d-sm-block">
          <div class="right-icons d-flex justify-content-between">
            <ul>
              <li>
                <a href="https://tr-tr.facebook.com/teknikhaneder/"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/teknikhaneder"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://github.com/teknikhaneder"><i class="fa fa-github"></i></a>
              </li>
              <li>
                <a href="https://pk.linkedin.com/company/teknikhaneder"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/teknikhaneder/"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <div class="teknikhanelogo d-md-none d-lg-block" style="width: 20rem;
                              height: 25px">
              <a href="../../index.html"><img id="teknikhanelogo" src="../../images/logo-name-white.png" style="
                                      width: 400px;
                                      height:50px;
                                      margin-top:2rem;
                                      margin-left: 10px;
                                      " alt="logo" /></a>
            </div>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="has-sub">
                <a href="javascript:void(0)">Kurumsal</a>
                <ul class="sub-menu">
                  <li><a href="../../views/Corporate/about_us.html">Hakkımızda</a></li>

                  <li><a href="../../views/Corporate/mission.html">Misyonumuz</a></li>
                  <li><a href="../../views/Corporate/vision.html">Vizyonumuz</a></li>
                  <li><a href="../../views/Corporate/commision.html">Yönetim
                      Kurulu</a></li>
                  <li><a href="../../views/Corporate/organizationschema.html">Organizasyon
                      Şeması</a></li>
                  <li><a href="../../views/Corporate/constitution.html">Tüzük</a></li>
                  <li><a href="../../views/Corporate/corporateidentity.html">Kurumsal
                      Kimlik</a></li>
                  <li><a href="../../views/Corporate/activityreport.html">Faaliyet
                      Raporları</a></li>
                </ul>
              <li class="has-sub">
                <a href="javascript:void(0)">Projeler</a>
                <ul class="sub-menu">
                  <li><a href="../../views/Projects/workingroups.html">Çalışma
                      Grupları</a></li>
                  <li><a href="../../views/Projects/workshop.html">Atölyeler</a></li>
                  <li><a href="../../views/Projects/engineeringmeeting.html">Mühendislik
                      Buluşması</a></li>
                </ul>
              </li>
              <li class="has-sub">
                <a href="javascript:void(0)">Faaliyetler</a>
                <ul class="sub-menu">
                  <li><a href="../../views/Activities/conversations.html">Söyleşiler</a></li>
                  <li><a href="../../views/Activities/criticprograms.html">Tahlil Programları</a></li>
                  <li><a href="../../views/Activities/socialactivities.html">Sosyal Faaliyetler</a></li>
                  <li><a href="../../views/Activities/inventorworkshop.html">Mucit Atölyesi</a></li>
                </ul>
              </li>
              <ul>
              </ul>
              <li class="has-sub">
                <a href="javascript:void(0)">Yayınlar</a>
                <ul class="sub-menu">
                  <li><a href="../../views/Publishs/teknikhanejournal.html">Teknikhane Dergisi</a></li>
                  <li><a href="../../views/Publishs/weeklyinfoservice.html">Haftalık Bilgilendirme Servisi</a></li>
                  <li><a href="../../views/Publishs/teknikhanePod.html">TeknikhanePod</a></li>
                  <li><a href="../../views/Publishs/introcatalogs.html">Tanıtım Katalogları</a></li>
                  <li><a href="../../views/Publishs/teknikhaneblog.html" class="active">Teknikhane Blog Sayfası</a></li>
                </ul>
              </li>
              <li class="has-sub">
                <a href="javascript:void(0)">Gönüllü Ol</a>
                <ul class="sub-menu">
                  <li><a href="../../views/Volunteer/beavolunteer.html">Üyelik Formu</a></li>
                  <li><a href="../../views/Volunteer/donate.html">Bağış</a></li>
                  <li><a href="../../views/Volunteer/sponsorship.html">Sponsorluk</a></li>
                </ul>
              </li>
              <li class="has-sub">
                <a href="javascript:void(0)">İletişim</a>
                <ul class="sub-menu">
                  <li><a href="../../views/Contact/weinsocial.html">Sosyal Medyada Biz</a></li>
                  <li><a href="../../views/Contact/ejournal.html">E-Bülten</a></li>
                  <li><a href="../../views/Contact/privacypolicy.html">Gizlilik Politikası</a></li>
                  <li><a href="../../views/Contact/kvkk.html">KVKK Aydınlatma Metni</a></li>
                </ul>
              </li>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">


          <h2>Teknikahne Derneği
            <br>
            Hakkımızda
          </h2>

        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>Teknikhane Derneği Basın Müşavirliği</span>
                  </div>
                  <div class="date">
                    <h6>Aralık <span>24</span></h6>
                  </div>
                  <a href="../../index.html"><img src="../../images/teknikhanebgcolor2.jpeg" alt=""></a>
                </div>
                <div class="down-content">


                  <h4>Hakkımızda</h4>

                  </a>
                  <p> <a href="index.html">TEKNİKHANE</a> Derneği
                    <br> Bilim, İlim ve İrfan Şiarıyla Hareket Eden Bir Teknik Sivil
                    Toplum Kuruluşudur.
                  </p>
                  <p class="description">
                    Teknikhane Derneği, Milli Yazılım ve Milli Üretim Temelleri Üzerine Kurulu Tam Bağımsız bir Türkiye
                    Hedefiyle Yola Çıkan Gençlerin Kitap Okuma Gruplarıdaki Gönül Bağlarıyla Meydana Gelen Bir Teknik
                    Topluluktur.
                  </p>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="share" id="share-activity">
                        <h4>Sosyal Medya Hesaplarımız</h4>
                        <ul>
                          <li>

                            <a href="https://tr-tr.facebook.com/teknikhaneder/"><i class="fa fa-facebook fa-2x px-4"></i></a>

                          </li>
                          <li>
                            <a href="https://twitter.com/teknikhaneder"><i class="fa fa-twitter fa-2x px-4"></i></a>
                          </li>
                          <li>
                            <a href="https://github.com/teknikhaneder"><i class="fa fa-github fa-2x px-4"></i></a>
                          </li>
                          <li>

                            <a href="https://pk.linkedin.com/company/teknikhaneder"><i class="fa fa-linkedin fa-2x px-4"></i></a>


                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">

                <a href="../../index.html">Anasayfaya Geri Dön</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-logo">
        <div>
          <a href="../../index.html"><img src="../../images/Footer_logo_white.png" style="width: 130px; height: auto;"></a>
        </div>
        <div class="footer-logo-name d-inline-flex p-2">

          <a href="index.html"><img src="../../images/Footer_Logo_Name.png" style="width: 400px; height: auto;"></a>

        </div>
      </div>
      <hr>
      <p><a href="index.html"></a>Teknikhane Derneği Tüm Hakları Saklıdır.
        <br><a href="https://www.teknikhane.org" target="_parent" title="TEKNİKHANE">www.teknikhane.com.tr </a>
      </p>
      <ul class="border-bottom">
        <li>
          <a href="https://tr-tr.facebook.com/teknikhaneder/"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/teknikhaneder"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://github.com/teknikhaneder"><i class="fa fa-github"></i></a>
        </li>
        <li>
          <a href="https://pk.linkedin.com/company/teknikhaneder"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/teknikhaneder/"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <ul>
            <li><a href="../../views/Corporate/mission.html">
                <h5>Misyon</h5>
              </a></li>
            <li><a href="../../views/Corporate/vision.html">
                <h5>Vizyon</h5>
              </a></li>
            <li><a href="../../views/Corporate/organizationschema.html">
                <h5>Organizasyon
                  Şeması</h5>
              </a></li>
            <li><a href="../../views/Corporate/constitution.html">
                <h5>Tüzük</h5>
              </a></li>
            <li><a href="../../views/Corporate/corporateidentity.html">
                <h5>Kurumsal
                  Kimlik</h5>
              </a></li>
            <li><a href="../../views/Corporate/activityreport.html">
                <h5>Faaliyet
                  Raporları</h5>
              </a></li>
          </ul>

        </div>
        <div class="footer-col">
          <div>
            <ul>
              <li><a href="../../views/Projects/workingroups.html">
                  <h5>Çalışma
                    Grupları</h5>
                </a></li>
              <li><a href="../../views/Projects/workshop.html">
                  <h5>Atölyeler</h5>
                </a></li>
              <li><a href="../../views/Projects/engineeringmeeting.html">
                  <h5>Mühendislik
                    Buluşması</h5>
                </a></li>
            </ul>

          </div>
        </div>
        <div class="footer-col">
          <div>
            <ul>
              <li><a href="../../views/Activities/conversations.html">
                  <h5>Söyleşiler</h5>
                </a></li>
              <li><a href="../../views/Activities/criticprograms.html">
                  <h5>Tahlil Programları</h5>
                </a></li>
              <li><a href="../../views/Activities/socialactivities.html">
                  <h5>Sosyal Faaliyetler</h5>
                </a></li>
              <li><a href="../../views/Activities/inventorworkshop.html">
                  <h5>Mucit Atölyesi</h5>
                </a></li>
            </ul>

          </div>
        </div>

        <div class="footer-col">
          <div>
            <ul>
              <li><a href="../../views/Publishs/teknikhanejournal.html">
                  <h5>Teknikhane Dergisi</h5>
                </a></li>
              <li><a href="../../views/Publishs/weeklyinfoservice.html">
                  <h5>Haftalık Bilgilendirme Servisi</h5>
                </a></li>
              <li><a href="../../views/Publishs/teknikhanePod.html">
                  <h5>TeknikhanePod</h5>
                </a></li>
              <li><a href="../../views/Publishs/teknikhanejournal.html">
                  <h5>Tanıtım Katalogları</h5>
                </a></li>
              <li><a href="../../views/Publishs/teknikhaneblog.html">
                  <h5>Teknikhane Blog Sayfası</h5>
                </a></li>
            </ul>

          </div>
        </div>
        <div class="footer-col">
          <ul>
            <li><a href="../../views/Volunteer/beavolunteer.html">
                <h5>Üyelik Formu</h5>
              </a></li>
            <li><a href="../../views/Volunteer/donate.html">
                <h5>Bağış</h5>
              </a></li>
            <li><a href="../../views/Volunteer/sponsorship.html">
                <h5>Sponsorluk</h5>
              </a></li>
          </ul>
        </div>
        <div class="footer-col">
          <ul>
            <li><a href="../../views/Contact/weinsocial.html">
                <h5>Sosyal Medyada Biz</h5>
              </a></li>
            <li><a href="../../views/Contact/ejournal.html">
                <h5>E-Bülten</h5>
              </a></li>
            <li><a href="../../views/Contact/privacypolicy.html">
                <h5>Gizlilik Politikası</h5>
              </a></li>
            <li><a href="../../views/Contact/kvkk.html">
                <h5>KVKK Aydınlatma Metni</h5>
              </a></li>
          </ul>
        </div>

      </div>
      <br>
      <br>
      <br>
      <br>
    </div>

    </div>

  </section>

  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="../../jquery/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>

  <script src="../../js/isotope.min.js"></script>
  <script src="../../js/owl-carousel.js"></script>
  <script src="../../js/lightbox.js"></script>
  <script src="../../js/tabs.js"></script>
  <script src="../../js/video.js"></script>
  <script src="../../js/slick-slider.js"></script>
  <script src="../../js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({

            scrollTop: reqSectionPos
          },

          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {

      $('.section').each(function() {

        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').

          siblings().removeClass('active');

        }
      });
    };


    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function(e) {

      e.preventDefault();
      showSection($(this).attr('href'), true);
    });


    $(window).scroll(function() {

      checkSection();
    });
  </script>
</body>


</body>

</html>